.Collection{
    font-size: 20px;
}

.Collection-card-result{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
    margin-left: 90px;
}

.Collection-card{
    display: flex;
    flex-direction: row;
}

.Collection-card-form{
   display: flex;
   flex-direction: column;
}

.Collection-card-title{
    margin: 5px 10px;
 }

.Collection-card-name{
    margin: 5px 10px;
 }

.Collection-card li{
    list-style-type: none;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Collection-card-img{
    max-width: 120;
    max-height: 167px;
}