.Landing {
    background: #ffffff;
    height: 100%;
    width: 100%;
    font-size: 20px;
}

.Landing-header{
    background-color: rgba(44, 43, 91, 0.74);
    color: white;
}

.Landing-header-title {
    display: flex;
    flex-direction: row;
    font-size: 50px;
    margin: 0px;
    margin-left: 40px;
    padding-bottom: 20px;
    padding-top:40px
}

.Landing-subtitle {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    padding-bottom: 10px;
    margin: 0px;
    margin-left: 40px;
    margin-right: 40px;
}

.Landing-button {
    margin: 30px;
    margin-left: 40px;
    width: 260px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: #EDDFBC;
    cursor: pointer;
    font-size: 30px;
  }

.createUserForm{
    margin: 0;
    display: block;
    padding: 40px;
    padding-top: 0px;
}

.form-option{
    display: flex;
    flex-direction: column;
}

.createUserForm label{
    padding: 20px 0px;
    font-weight: 500;
}

.createUserForm input{
    display: block;
    width: 450px;
    padding: 10px;
    border-radius: 5px;
    height: 15px;
    border: 1px solid gray;
    height: 25px;
    font-size: 20px;
}

.createUserForm button {
    display: block;
    margin: 50px 0px;
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    border: rgba(44, 43, 91, 0.74);
    color: white;
    background-color: rgba(44, 43, 91, 0.74);
    cursor: pointer;
    font-size: 20px;
  }

.Landing-search{
    background-color: white ;
    height: 280px;
    padding-left: 40px;
}

.Landing-collection{
    background-color: #EDDFBC ;
    height: 280px;
    padding-left: 40px;
}

.Landing-wish{
    background-color: white ;
    height: 280px;
    padding-left: 40px;
}

.Landing-missing{
    background-color: #AFA384 ;
    height: 280px;
    padding-left: 40px;
}

.Landing-title{
    margin: 0px;
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 30px;
}

.Landing-desc{
    margin: 0px;
}


.Landing-body-title{
    margin: 40px;
    font-size: 30px;

}

.form-option{

}