.Wishlist{
    font-size: 20px;
    margin: 40px;
}

.Wishlist-title{
    margin-left: 30px;
    margin-bottom: 10px;
    font-size: 40px;
    margin-top: 90px;
}

.Wishlist-card-result{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0px;
}

.Wishlist-card-div{
    display: grid;
    justify-items: center;
   
}

.Wishlist-card{
    display: grid;
    grid-template-columns: 14rem;
    justify-items: center;
}

.Wishlist-card-form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Wishlist-card-name{
    margin: 5px 0px;
    text-align: center;
 }

.Wishlist-card img{
    max-width: 200px;
    max-height: 280px;
    margin-top: 10px;

}

.Wishlist-delete{
    margin: 0px 0px;
    border-radius: 0px;
    border-color: transparent;
    background-color: transparent;
    color: rgb(110, 129, 173);
    cursor: pointer;
}

.Wishlist-card-button{
    border-radius: 9px;
    border: rgba(44, 43, 91, 0.74);
    text-align: center;
    width: 130px;
    height: 30px;
    color: white;
    background-color: #3F3F69;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.Wishlist-card-button:hover{
    background-color: #77778e;
    cursor: pointer;
}

.Wishlist-card-error{
    font-size: 14px;
    margin: 4px 0px;
    color: red;
}